iframe {
    width: 100vw;
    height: 100vh;
    background-color: #1f7d8a;
    font-family: 'Courier New', Courier, monospace;
    border: 0;
    position: fixed;
}

body {
    margin: 0;
}

div {
    columns: 100px 3;
}